<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/app.css">
	<link rel="stylesheet" href="/stylesheets/css/style.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/registro" method="POST">
        
				<section class="">
					<div class="">
						<div>
							<label>Email:</label>
							<input type="email" name="mail" value="" placeholder="Correo electronico">
						</div> 
						<div>
							<label>Usuario:</label>
							<input type="text" name="userName" value="" placeholder="Nombre de usuario">
						</div>    
						<div>
							<label>Fecha de nacimiento</label>
							<input type="date" name="nacimiento" value="" placeholder="Fecha en la que naciste">
						</div>
						<div>
							<label >Nro de documento</label>
							<input type="number" name="dni" value="" placeholder="DNI">
						</div>
						<div>
							<label>Foto de perfil:</label>
							<input type="text" name="ftperfil" value="" placeholder="Insertar foto de perfil">
						</div> 
						<div>
							<label>Contraseña:</label>
							<input type="password" name="pass" value="" placeholder="Contraseña">
						</div>
						<div>
							<label> Repetir contraseña:</label>
							<input type="password" name="passretry" value="" placeholder="Repetir contraseña">
						</div>
						<div>
							<button type="submit">Registrame</button>
						</div>
						<div>
							<label>Términos y condiciones</label>
							<input type="checkbox" name="Términos y condiciones" value="leyo los términos y condiciones">
						</div>
						<div>
							<label>Recordame</label>
							<input type="checkbox" name="recordame" value="recuerdame">
						</div>
						<div>
							<button type="submit" href="login.html">Ya tengo cuenta</button>
						</div>
					</div>
				</section>

			</form>

	<!-- footer -->
	<%- include("./partials/footer")  %>
	<!-- /footer -->
</body>

</html>